@font-face {
    font-family: myFirstFont;
    src: url("SUBWT___.otf");
}

body {
    background-image: url("../images/train2.jpg");
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.table {
    border-style: solid;
    border-color: black;
    background-color: none;
}

form {
    border-style: solid;
    border-color: black;
    background-color: white;
padding: 10px;
}

div.form-group {
    /* height: 45px; */
}

thead {
    background-color: navy;
}

.tableHead {
    color: yellow;
}

tr {
    border-style: solid;
    border-color: white;
    background-color: black;
    font-family: myFirstFont;
    color: white;
}

.headline {
    color:white;
    text-align: center;
}

